################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client/KafkaDemo/.vs/KafkaDemo
/client/KafkaDemo/KafkaDemo/bin/Debug/net6.0
/client/KafkaDemo/KafkaDemo/obj
/client/KafkaDemo/KafkaConsumer/bin/Debug/net6.0
/client/KafkaDemo/KafkaConsumer/obj
/client/KafkaDemo/KafkaProducer/bin/Debug/net6.0
/client/KafkaDemo/KafkaProducer/obj
